:root {
    --primary-color: rgb(16, 7, 51);
    --secondary-color: rgb(147, 224, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

header h1 a {
    color: var(--secondary-color);
}

header nav ul li a {
    color: var(--secondary-color);
}


.hero {
    background-image: url("../images/0dba57a96d995f5b92d6294245ead3eb.jpg");
    height: 400px;
    background-size:cover;
    background-position: center;
}