:root {
    --primary-color: rgb(16, 7, 51);
    --secondary-color: rgb(246, 132, 255);
    --terciary-color: rgb(87, 59, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

header {
    padding: 15px 0 15px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    background-color: var(--primary-color);
    border: var(--terciary-color) solid 2px;
    padding: 15px 100px 15px 25px;
    font-size: 40px;
    margin: 0;
    flex: 0 35%;
    pointer-events: none;
}

header h1:hover  {
    background: var(--terciary-color);
    border: var(--secondary-color) solid 2px;
    
}

header h1 a {
    color: var(--secondary-color);
    text-decoration: none;
    pointer-events: auto;
}

header nav {
    padding: 0 40px 0 0;
    flex: 0 45%;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    padding: 20px 10px;
    pointer-events: none;
}

header nav ul li:hover {
    background: var(--terciary-color);
    border: var(--secondary-color) solid 1px;
} 

header nav ul li a {
    color: var(--secondary-color);
    font-size: 25px;
    padding: 5px 10px;
    pointer-events: auto;
}

.hero {
    background-image: url("../images/0dba57a96d995f5b92d6294245ead3eb.jpg");
    height: 200px;
    background-size:cover;
    background-position: center;
}

section h2 {
    border-bottom: 3px solid var(--terciary-color);
}