/* Create root styles */
:root {
    --primary-color: rgb(16, 7, 51);
    --secondary-color: rgb(246, 132, 255);
    --terciary-color: rgb(87, 59, 255);
}

/* Create universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: solid 8px var(--secondary-color);
    margin: 4px;
}

/* Apply styles to header */
header {
    padding: 20px 0 15px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    background-color: var(--secondary-color);
    border: var(--terciary-color) solid 2px;
    padding: 15px 100px 15px 25px;
    font-size: 45px;
    margin: 0;
    flex: 0 35%;
    pointer-events: none;
    text-shadow: 5px 5px 10px rgba(87,59,255,0.7);      
}

header h1:hover  {
    background: var(--terciary-color);
    border: var(--secondary-color) solid 2px;
    
}

header h1 a {
    color: var(--primary-color);
    text-decoration: none;
    pointer-events: auto;
    text-shadow: 5px 5px 10px rgba(87,59,255,0.7);  
}

header nav {
    padding: 0 40px 0 0;
    flex: 0 45%;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li {
    padding: 20px 10px;
    pointer-events: none;
}

header nav ul li:hover {
    background: var(--terciary-color);
    border: var(--secondary-color) solid 1px;
} 

header nav ul li a {
    color: var(--secondary-color);
    font-size: 32px;
    padding: 5px 10px;
    pointer-events: auto;
    font-weight: bold;
    text-shadow: 5px 5px 10px rgba(87,59,255,0.7);  
}
/* End header styles */

/* Apply styles to hero */
.hero {
    background-image: url("../images/0dba57a96d995f5b92d6294245ead3eb.jpg");
    height: 200px;
    background-size:cover;
    background-position: center;
    border: var(--secondary-color) solid 2px;
}
/* End hero styles */

/* Apply styles to all sections */
section {
    margin: 20px 20px 45px 20px;
}

.section-title {
    border-bottom: 3px solid var(--terciary-color);
    padding: 0 0 10px 15px;
    font-size: 32px;
}

section p {
    padding: 20px 0 10px 50px;
    font-size: 22px;
    text-align:justify;
    line-height: 1.7;
}
/* End all sections styles */

/* About Me section styles */
.about {
    display: flex;
    padding: 20px 50px 10px 50px;
}
.about div {
    display: flex;
    flex-wrap: wrap;
    flex: 1 85%;
    justify-content: space-evenly;
}

.about div img {
    height: 150px;    
}

.about img {
    border: var(--secondary-color) solid 2px;
    flex: 0 15%;
    padding: 5px;
}

.about img:hover {
    transform: scale(1.25);
}
/* End About Me section styles */

/* Contact Me section styles */
.contact {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 50px 10px 50px;
}

.contact p {
    padding: 20px 52px;
    font-size: 28px;
    font-weight: bold;
    border: 2px solid var(--secondary-color);
    color: var(--terciary-color);
}

.contact a {
    color: var(--secondary-color);
    font-size: 22px;
    font-weight: normal;
}
/* End Contact Me Styles */

/* Apply styles to footer */
footer {
    text-align: center;
    font-size: 28px;
    padding: 20px 0 0 0;
    border-top: var(--terciary-color) solid 3px;
    margin: 20px;
    text-shadow: 5px 5px 10px rgba(87,59,255,0.7);  
}
/* End footer styles */
